.pdf_page {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  overflow: auto;
  height: 100vh;

  .pdf_footer_content {
    span {
      font-weight: 400;
      font-size: 14px;
      font-family: -apple-system, 'system-ui', 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }

    text-align: right;
  }
}
